/.env
/node_modules
/backend/__pycache__
/backend/app/__pycache__
/backend/app/audio/__pycache__
/backend/app/core/__pycache__
/backend/app/routes/__pycache__
/backend/venv
/backend/.venv
/backend/.env
/frontend/node_modules
/backend/static/audio/